@model OnlineBookStoreMVC.DTOs.AuthorDto

@{
    ViewData["Title"] = "Author Details";
}

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h1 class="text-center text-primary">Author Details</h1>
                    <hr />
                    <dl class="row">
                        <dt class="col-sm-4 font-weight-bold">Name</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

                        <dt class="col-sm-4 font-weight-bold">Biography</dt>
                        <dd class="col-sm-8">@Html.DisplayFor(model => model.Biography)</dd>
                    </dl>
                </div>
                <div class="card-footer text-end">
                    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary me-2">Edit</a>
                    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</div>
