@model OnlineBookStoreMVC.Models.ChangePasswordModel

@{
    ViewData["Title"] = "Change Password";
}

<h2>Change Password</h2>

<form asp-action="ChangePassword" method="post">
    <div class="form-group">
        <label asp-for="CurrentPassword" class="control-label"></label>
        <input asp-for="CurrentPassword" class="form-control" type="password" />
        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label"></label>
        <input asp-for="NewPassword" class="form-control" type="password" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PasswordConfirm" class="control-label"></label>
        <input asp-for="PasswordConfirm" class="form-control" type="password" />
        <span asp-validation-for="PasswordConfirm" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Change Password" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
