@model OnlineBookStoreMVC.Models.ChangePasswordModel

@{
    ViewData["Title"] = "Change Password";
}

<h2 class="text-center">Change Password</h2>

<form asp-action="ChangePassword" method="post" class="change-password-form">
    <div class="form-group">
        <input type="hidden" asp-for="Email" />
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="form-label"></label>
        <input asp-for="NewPassword" class="form-control" type="password" placeholder="New Password" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmNewPassword" class="form-label"></label>
        <input asp-for="ConfirmNewPassword" class="form-control" type="password" placeholder="Confirm Password" />
        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block">Change Password</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
